# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/*
!media/advisors/
!media/team/
!media/home/
!media/facilities/
!media/capabilities/
!media/partners/
!media/certifications/
!media/blog/
staticfiles/

# Environment variables
.env

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
